{% load static %}

<div class="row mt-2" style="background-color:rgb(61, 58, 63)" ><!--row 3 start-->
    <div class="col-4" style="color: white;">
        <h5>Get to know us</h5>
        <a href="#">Contact Us</a><br>
        <a href="#">About Us</a>
    </div>
    <div class="col-4"style="color: white;">
      <h5>Connect with us</h5>
      <i class="bi bi-telephone-fill"> 8695741236</i><br>
      <i class="bi bi-facebook"> Suyash_shelar</i><br>
      <i class="bi bi-whatsapp"> 4563217895</i><br>
      <i class="bi bi-instagram"> suyash.shelar01</i><br>
        
    </div>
    <!-- <div class="col-3" style="color: white;">
        
    </div> -->
    <div class="col-4"style="color: white;">
        <h5>Registered Office Address :</h5>
        <i class="bi bi-geo-alt"></i>
        <p>4th Floor, Kerom Building, Next to State Bank of India, Near Toyota, Showroom, Midc, Road No: 18, Waghle Industrial Estate, Thane, Maharashtra 400604</p>
    </div>

</div><!--row 3 end-->

</div>  <!--main container end -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>