{% extends 'layout3.html' %}
{% load static %}
{% block 'main'%}
<div class="row mt-4">
    <div class="col-5">
        <img src="{{value.pimage.url}}" alt="">
    </div>
    <div class="col-7">
        <div class="card" style="width: 100%;">
            
            <div class="card-body">
              <h5 class="card-title">{{value.name}}</h5>
              <p class="card-text">{{value.quantity}}</p><br>
              <p class="card-text">{{value.type}}</p><br>
              <p class="card-text"><i class="bi bi-currency-rupee"></i> {{value.price}}</p>
              <a href="/addtocart/{{value.id}}" class="btn btn-dark">Add To Cart</a>&nbsp;&nbsp;&nbsp;
              <a href="/addtocart/{{value.id}}/displaycart" class="btn btn-dark">Buy Now</a>
            </div>
        </div>
    </div>
</div>
<h5>About Product</h5>
{{value.details}}
{% endblock 'main' %}