<div class="row mt-2" >   <!--row 2 start-->
    <div class="col-3" >   <!--row 2 col 1 start-->
        <div class="shadow square" >
            <h4>Fill by price</h4>
            <hr>
            <ul >
                <li><a href="/sort/asc">Low to high</a></li>
                <li><a href="/sort/desc">High to low </a></li>
            </ul>
            <hr>
        </div><br><br>
        <div class="shadow square">
            <h4>Search Product By Price</h4>
            <hr>
            <form action="/pricerange">
                <table>
                <tr>
                    <td>From : </td>
                    <td><input type="text" name="min"></td>
                </tr>
                <tr>
                    <td>To : </td>
                    <td><input type="text" name="max"></td>
                </tr>
                <tr>
                    
                    <td colspan="2"><input type="submit" value="search" class="btn btn-secondary "></td>
                </tr>
                </table>
            
            </form>
            <hr>
        </div><br><br>
    </div> <!--row 2 col 1 end-->
    